body {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 30px auto;
}

.todo-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border: solid 3px black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

.todo-row p, .todo-row h3 {
  width: 33%;
  text-align: center;
}

.todo-button {
  width: 20%;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.not-completed:hover{
  background-color: red;
  cursor: pointer;
}

.not-completed {
  background-color: firebrick;
}

.completed {
  background-color: green;
}

.new-todo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: dodgerblue;
  padding: 10px 5px;
  border: solid 3px black;
  border-radius: 5px;
}


.new-todo input {
  border: solid 3px black;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 1em;
  font-weight: bold;
}
.new-todo input[type="text"]{
  width: 50%;
}

.new-todo input[type="submit"]{
  background-color: red;
  width: 25%;
}
